
<footer id="footer">
	<div class="container"><!--footer container-->
	<hr>

		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<section>
					<h4>Contact Us</h4>
					<p>Seattle Nanny Network, Inc.<br />
						150 Lake Street South Suite 216 & 206<br />
						Kirkland, WA 98033-6418<br />
						by appointment only<br />
						<strong>Seattle:</strong> <a href="tel:4258039511" class="tele">206-467-1999</a><br />
						<strong>Eastside:</strong> <a href="tel:4258039511" class="tele">425-803-9511 (Call or text!)</a><br />
						<strong>email:</strong> <a href="mailto:info@seattlenanny.com" class="hover-color-change">info@seattlenanny.com</a> </p>
				</section>
				<!--close section-->
				
			</div>
			<!-- close .span4 --> 
			
            
			<div class="col-sm-4 col-md-4 col-lg-4">
			
				<section>
					<h4>Follow Us</h4>
					<div class="fb-like-box" style="background:#fff;" data-href="https://www.facebook.com/pages/Seattle-Nanny-Network-Inc/169143906432692" data-width="300" data-height="240" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
				</section>
				<!--close section--> 
			</div>
			<!-- close .span4 --> 
		
			
			<!--section containing blog posts-->
			<div class="col-sm-4 col-md-4 col-lg-4">
			
				<section>
					<h4>Connect With Us</h4>
					<ul class="social">
						<li><a target="_blank" href="https://www.facebook.com/pages/Seattle-Nanny-Network-Inc/169143906432692" title="Facebook">
			      			<span class="fa fa-facebook"></span>
			      		</a></li>
			      		<a target="_blank" href="https://twitter.com/SeattleNannyNet" title="Twitter"><span class="fa fa-twitter"></span></a>
						<li><a target="_blank" href="http://www.linkedin.com/company/seattle-nanny-network-inc-?trk=top_nav_home" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Linkedin"><span class="fa fa-linkedin"></a></li>
					</ul>
					
				</section>
				<!--close section--> 
			</div>
			<!-- close .span4 --> 
		</div>
		<!-- close .row--> 
	</div>
	<!-- close footer .container--> 
	
	<!--change this to your stuff-->
	<section class="footerCredits">
		<div class="container">
			<ul class="clearfix">
				<li>&copy; <%= Time.now.year %> Seattle Nanny Network. All rights reserved.</li>
                <li>Images provided by: <a href="http://stephaniecristalli.com">stephaniecristalli.com</a></li>
				
			</ul>
		</div>
		<!--footerCredits container--> 
	</section>
	<!--close section--> 
</footer>
