<h1></h1>
<p>Welcome to Seattle Nanny Network's Nanny Share Portal. We have moved to a private Facebook page to make it easier for families to connect. </p>

<p>Nanny shares combine the benefit of high quality childcare with cost savings and socialization, and have become a highly desirable option in this market. All fees are split equally between families, and the care arrangement is customized to meet your unique needs. </p>

<p>Our team is always on hand for questions and advice, and will walk you through the hiring process should you move forward with a nanny search. </p>

<p>Click the link below and find a Nanny Share family today!</p>

<a href="https://www.facebook.com/groups/TheSeattleNannyShareNetwork/" class=" btn btn-primary">Facebook Group</a>

<p>&nbsp;</p>

<% if current_user && !current_user.location.nil? %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Ready?  
			<% if current_user %>
				<%= link_to "Find a Family", find_a_family_path, :class => "btn btn-primary"  %>
			<% else %>
				<%= link_to "Get Started", new_user_registration_path, :class => "btn btn-primary" %>
			<% end %>
		</div>
	</div>
<% end %>

