<h1>Nanny Share</h1>

<p>An increasing number of parents are turning to nanny sharing as a way to keep childcare costs down while still receiving the highest quality care.  Seattle Nanny Network's Nanny Share Portal is a free community resource for parents to post, search, and connect with other families seeking to share a nanny.</p>

<hr>

<h3>Here is how it works</h3>

<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		1. Get started:
		<ol>
			<li>Create an Account</li>
			<li>Add your Location</li>
			<li>Add Children's Ages</li>
		</ol>

	</div>
	
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		2. Search for Families Near You on our interactive map
	</div>
	
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		3. Connect with potential families and secure a great nanny share
	</div>
	
	
</div>

<p>&nbsp;</p>

<% if current_user && !current_user.location.nil? %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Ready?  
			<% if current_user %>
				<%= link_to "Find a Family", find_a_family_path, :class => "btn btn-primary"  %>
			<% else %>
				<%= link_to "Get Started", new_user_registration_path, :class => "btn btn-primary" %>
			<% end %>
		</div>
	</div>
<% end %>

