<h1>Terms of Use</h1>

<p class="lead">PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS WEBSITE. </p>
 
<small>(Please also visit our Privacy Notice section of this website)</small>
 
<p>Welcome to Seattle Nanny Network, LLC ("the Company", "we", "our" or "us") "Nanny share" website ("the Site").  Please review the following basic terms that govern your use of the Site. Please note that your use of the Site constitutes your agreement to follow and be bound by the terms and conditions set forth hereafter (the "Conditions"). </p>
 
<p>We may change the terms that govern your use of the Site at our sole discretion. Your use of the Site following any such change constitutes your agreement to follow and be bound by the terms as changed. We may change, move or delete portions of, or may add to the Site from time to time. </p>
 
 
<p class="lead">Proprietary Information </p>
 
<p>You agree that all content appearing on the Site, including, but not limited to code, trademarks, service marks, trade names, graphics, images, text, audio clips, button icons, and computer software, are the sole property of the Company or its partners and suppliers, and protected by U.S. and international laws and treaties. Users are granted permission to use the Site for its intended purpose, which is for your use only as a reader. Any other use, including and not limited to the reproduction, modification, distribution, transmission, republication, removal, deletion, addition, display, or performance of the content on this site or the exploitation in any other manner of any of the content of the Site, in part or in whole, is strictly prohibited. Unless expressed in writing, the use of logos, trade names, text, images, graphics or intellectual property from this web site is strictly prohibited. </p>
 
<p class="lead">User Generated Content </p>
 
<p><strong>a. Generally </strong><br>
 
By sending, posting, distributing, or displaying any message (including emails), comment, data, text, music, information, sound, graphics, photos or other content (collectively, the "User Generated Content") to the Site, you (i) grant, and represent and warrant that you have the right to grant, to the Company a non-exclusive, royalty-free, perpetual, transferable, irrevocable, fully paid and sublicenseable right to use, modify, adapt reproduce, translate, publish, distribute, create derivative works from, and publicly display and perform, the User Generated Content throughout the world; (ii) grant the Company and its affiliates and sublicensees the right to use the name that you submit in connection with such User Generated Content; and (iii) represent and warrant that (a) you own and control all of the rights to the User Generated Content that you distribute or otherwise post on the Site, or you otherwise have the lawful right to distribute and post such User Generated Content to or through the Site; (b) such User Generated Content is accurate and not misleading; and (c) use and posting or other transmission of such User Generated Content does not violate these Conditions and will not violate any rights of, or cause injury to, any person or entity. You further grant the Company the right to pursue at law any person(s) or entity(ies) that violates your or our rights in the User Generated Content by a breach of these Conditions. </p>
 
<p>User Generated Content submitted by users is deemed non-confidential and the Company is under no obligation to treat such User Generated Content as a trade secret and/or proprietary information. Without limiting the foregoing, we reserve the right, in our sole discretion, to use the User Generated Content as we deem appropriate, including, without limitation, deleting, modifying, editing, rejecting and/or refusing to post it. the Company is under no obligation to offer you any payment or any other type of compensation for User Generated Content or to attribute authorship of any of the User Generated Content to you. If, nonetheless, it is determined that you retain moral rights (including rights of attribution or integrity) in the User Generated Content, you hereby agree that (a) you do not require that any personally identifying information be used in connection with the User Generated Content, or any derivative works of, or upgrades or updates thereto; (b) you do not oppose the publication, modification, use, exploitation, modification, and/or deletion of the User Generated Content by the Company or our agents; (c) you waive and will not claim or assert any entitlement to any moral rights of an author in any of the User Generated Content; and (d) you hereby release the Company from any and all claims that you could otherwise assert against the Company by virtue of any moral rights. </p>
 

<p><strong>b. Use of Bulletin Boards, Chat Rooms and Other Interactive Site Areas </strong><br>
 
The Site may contain blogs, forums, bulletin boards or other interactive areas in which you or third parties may post messages, materials, content, or other items on the Site (collectively, the "Interactive Site Areas"). If the Company provides such Interactive Site Areas, you are solely responsible for your use of such Interactive Site Areas and use them at your own risk. By way of example, and not as a limitation, you agree that when using any of the Interactive Site Areas, you will not transmit, upload, post, distribute, create, store or otherwise publish any of the following: </p>
 
<p>(i). Material that is sexually explicit, violent, unlawful, derogatory, libelous, obscene, defamatory, pornographic, lewd, indecent, harassing, threatening, an invasion of another individual's privacy or publicity rights, inflammatory, fraudulent, abusive or otherwise objectionable; <br>
 
(ii). Material that constitutes, encourages or provides instructions for a criminal offense, violates the rights of any group or individual, or that otherwise creates liability or violates any local, state, national or international law; <br>
 
(iii) Material that promotes illegal drug use, tobacco or firearms use; <br>
 
(iv) Material that may infringe any trademark, patent, trade secret, copyright or other intellectual or proprietary right of any party; <br>
 
(v) Material that uses the names or likenesses of persons living or dead without their permission or that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity; <br>
 
(vi) Names, addresses, phone numbers, email addresses, Social Security numbers, credit card numbers or other personally identifiable information of you or someone else; <br>
 
(vii) Corrupted data, viruses or other harmful, destructive or disruptive files; <br>
 
(viii) Material that communicates messages which are inconsistent with the positive good will and mission of the Company; or <br>
 
(ix) Material that, in the sole judgment of the Company, is objectionable, or which may expose the Company or its Site users to any harm. </p>
 
<p>The Company assumes no liability for and takes no responsibility for any User Generated Content stored, posted, or uploaded by you or any third party, or for any loss or damage thereto, nor are we liable for any mistakes, slander, defamation, libel, falsehoods, omissions, obscenity, pornography or profanity you may encounter. As a provider of the Interactive Site Areas, we are not liable for any representations, statements or User Generated Content provided by its users on this Site. Although the Company has no obligation to edit, monitor or screen any of the User Generated Content posted to or distributed through any Interactive Site Area, we reserve the right, and have the sole discretion, to remove without notice any User Generated Content posted or stored on the Site. </p>
 
<p>Any use of the Site, including the Interactive Site Areas, in violation of these Conditions may result in termination or suspension by us of your permission to use the Site. </p>
 
<p><strong>c. Comments and Submissions </strong><br>
 
Anything that you submit or post to the Site and/or provide us, including, without limitation, feedback, reviews, suggestions, comments, ideas and/or questions (collectively, the "Comments") is and will be treated as nonconfidential and nonproprietary, and the Company shall have the royalty-free, worldwide, perpetual, irrevocable and transferable right to copy, distribute, publish sell, lease, use, display, perform, transmit, adapt, create derivative works from such Comments by any means and in any form, and to modify, disassemble, translate, reverse-engineer, or decompile such Comments. All Comments shall automatically become the sole and exclusive property of the Company and shall not be returned to you. the Company is and shall be under no obligation to (i) pay any fee or other compensation for any Comments nor (ii) respond to any Comments.</p> 
 
<p>You acknowledge and agree that no Comments submitted by you to the Site will violate any right of any third party, including, but not limited to, privacy, copyright, trademark, or other personal or proprietary right(s). You further acknowledge and agree that no Comments submitted by you to the Site will be or contain abusive, libelous or otherwise unlawful or obscene material. You are and shall remain solely responsible for the content of any Comments you make on our Site. </p>
 
<p class="lead">Disclaimer of Representations and Warranties</p>
 
<p>All products, services and information made available on or through the Site are provided on an "as is" and "as available" basis, without warranties of any kind, either express or implied. Subject to the foregoing, the Company disclaims all implied warranties, including without limitation, the implied warranties of merchantability and fitness for a particular purpose, and all express warranties except those explicitly made in this statement of legal terms.  the Site, and any other domain address that links to that website and the Company makes no representation that the information contained on the Site, your results in using the site or the service itself will be accurate, valid, reliable or available or that it does not violate or infringe the rights of any third party. the Company and the Site make no representation and specifically disclaims any warranty regarding any site linked to the Site.</p>
 
<p class="lead">Waiver of Liabilities</p>
 
<p>You agree that, except as otherwise provided under applicable laws, neither the Company nor its affiliates, nor the directors, officers, employees, agents, contractors, successors or assigns of each, shall be liable for any damages whatsoever arising out of or related to the use of the Site or any other web site linked to the Site. This waiver of liability applies to direct, indirect, consequential, special, and punitive or other damages you or others may suffer, as well as damages for lost profits, business interruption or the loss of data or information, even if the Company and its websites are notified in advance of the potential for any such damages.</p>
 
<p class="lead">Termination of the Use of the Site</p>
 
<p>Any unauthorized use of the Site, content materials and intellectual property or any fraudulent, abusive or otherwise illegal activity shall be grounds for termination of your right to access, browse and use of authorized areas of the Site. the Company reserves the right to terminate your access to the Site and its content and use at any time, with or without notice at our discretion.</p>
 
<p class="lead">Availability </p>
 
<p>The Site, excluding links, is created, owned, operated and controlled by the Company, which is incorporated in the state of Washington, USA. Visitors to this web site are responsible for their own compliance with local laws regarding web site use and access. </p>
 
<p class="lead">Jurisdiction </p>
 
<p>You agree that the laws of the state of Washington will govern these disclaimers, terms and conditions, without giving effect to any principles of conflicts of laws. We reserve the right to make changes to our site and these disclaimers, terms, and conditions at any time. </p>
 
<p class="lead">Unlawful Conduct </p>
 
<p>The Company reserves the right to seek all remedies available at law and in equity for posting or transmitting to the Site any unlawful, threatening, obscene, scandalous, pornographic, libelous, defamatory, inflammatory, or profane material. </p>
 
<p class="lead">Minors </p>
 
<p>the Company does not knowingly market to or knowingly solicit information from minors. Minors can use this service only under the supervision of their parents or guardians. </p>
 
<p class="lead">Revisions </p>
 
<p>We encourage users to regularly refer to this policy page to remain informed of any changes in our privacy policy. the Company reserves the right to revise the terms set forth above at any time. All revisions are posted on this policy page and will be effective immediately thereafter. By surfing, using, browsing or purchasing on our website, you are deemed notified of and bound by any changes to our terms and conditions. </p>
 
<p class="lead">Consent </p>
 
<p>By accessing, browsing and/or using this web site, you acknowledge that you have read, understood and agree to be bound by these terms and conditions, including our return and exchanges policy, and you agree to comply with all applicable laws and regulations. If you do not agree to these terms, please do not use the Site.</p>