/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a{
	color:#576674 ;
}

.btn-primary{
	background-color:#4c5966 !important;
	color:#fff;
	border:0px !important;
	font-weight:bold !important;
}
.btn-primary:visited{color:#fff !important;}
.search-button{margin-top:25px;}

.container.main-content{
	padding-bottom:40px;
	min-height:500px;
}

.sidebar{
	position:relative;
}

.sidebar-alert{
	position:absolute;
	top:20%;
	left:-200px;
	width:200px;
	height:150px;
	background:#ccc;
	padding:20px;
	border:1px solid red;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	
}
.sidebar-alert:after{
	content:'';
	position:absolute;
	top:43%;
	right:-10px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ccc;
}


/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}

header{
	height: 120px;
	background: #576674;
}

#header_meta{
	border-top: none;
	z-index: 10;
	min-height: 30px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: -1px;
	background-color: #fff;
	color: #A6ACB3;
	font-size: 11px;
	font-weight: bold;
}
#header_meta a{color: #A6ACB3;}
.phone-info{
	float: right;
	font-weight: bold;
  line-height: 20px;
  font-size: 11px;
  padding: 5px 0;
}

.social_bookmarks{
	float:right;
	padding-left: 20px;
	height: 30px;
  z-index: 150;
  -webkit-backface-visibility: hidden;
  margin: 0 0 0 -9px;
}
.social_bookmarks li{
	height: 100%;
  float: left;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-right-style: solid;
  border-right-width: 1px;
  display: block;
  width: 30px;
}
.social_bookmarks li a{
	float: left;
  width: 30px;
  line-height: 30px;
  display: block;
  margin: 0px;
  outline: none;
  padding: 0;
  min-height: 30px;
  height: 100%;
  overflow: visible;
  z-index: 2;
  position: relative;
  text-align: center;
}

.header_main{

}


#logo{
	width:360px;
}


#main_menu ul li{
	line-height: 30px;
	float:left;
	list-style: none;
}
#main_menu ul li:hover a{
	  background-color: #53a3b5;
}


#main_menu ul li a{
	color: #edeef5;
  	font-size: 16px;
  	  height: 88px;
  line-height: 88px;
  display: block;
  text-decoration: none;
  padding: 0 13px;
}

footer{
	background: #4c5966;
	color: #fff;
}
footer a{
	color: #fff;
}
footer > .container{
	padding:20px 15px;
}
.footerCredits{
	background-color: #576674;
	color: #fff;
	line-height: 50px;
	font-size: 11px;
	height: 50px;
}
footer ul.social{
	padding-left: 0px;
}
footer ul.social li{
	list-style-type: none;
	padding-right: 10px;
	display: inline-block;
}
footer ul.social li a, footer ul.social li a:visited{
	color: #fff;
}
footer ul.social li a:hover{
	color: #ccc;
}





