<h1>Your Address</h1>

<p>Thank you for signing up.  Please enter your address here so that other users can find you.  For privacy we mask your address in all search results.</p>

<%= render 'form' %>

<%#= link_to 'Back', locations_path %>
